{% import '@AGVault/macros.html.twig' as macros %}

{# Desktop view #}
<div class="row" id="vault">
	<div class="col-md-2 text-center">
		<div class="btn-group dropdown new">
			<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				New <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li>
					<a href="#" type="button" data-toggle="modal" data-target="#newFileModal">
						{{ fa('file-o') }} File
					</a>
				</li>
				<li>
					<a href="#" type="button" data-toggle="modal" data-target="#newFolderModal">
						{{ fa('folder') }} Folder
					</a>
				</li>
			</ul>
		</div>
		{#<hr>#}
		{#{{ render(controller('AGVaultBundle:File:getLast')) }}#}
	</div>
	<div class="col-md-10">
		<div class="pull-right searchForm">
			<form action="" method="GET">
				<div class="input-group">
					<span class="input-group-addon" id="addon1">{{ fa('search') }}</span>
					<input type="text" class="form-control" placeholder="Search" name="s" aria-describedby="addon1"{% if search is defined and search is not null %} value="{{ search }}"{% endif %}>
				</div>
			</form>
		</div>
		<h2 style="margin-top: 0;">
			{% if search is defined and search is not null %}
				<small>Results for : <em>{{ search }}</em></small>
			{% else %}
				{% if currentFolder is not null %}
					<a href="{{ currentFolder.parent is null ? path('ag_vault_homepage') : path('ag_vault_folder_show', {id:currentFolder.parent.id, slug:currentFolder.parent.slug}) }}">
						{{ fa('reply') }}&nbsp;
					</a>
					{{ fa('folder-open') }} <span class="foldername">{{ currentFolder.name }}</span>
				{% else %}
					{{ fa('home') }} Hesdibi
				{% endif %}
				<small>{{ size|size }}</small>
				{% if currentFolder is not null %}
					<a href="{{ path('ag_vault_folder_move', { id:currentFolder.id }) }}" class="btn btn-sm btn-default">
						{{ fa('arrows') }}
					</a>
					<button class="btn btn-sm btn-warning" data-toggle="modal" data-name="{{ currentFolder.name }}" data-target="#renameModal" data-id="{{ currentFolder.id }}" data-href="{{ path('ag_vault_folder_rename', { id:currentFolder.id }) }}">
						{{ fa('edit') }}
					</button>
					<a class="btn btn-sm btn-danger" href="{{ path('ag_vault_folder_remove', { id:currentFolder.id }) }}">
						{{ fa('remove') }}
					</a>
				{% endif %}
			{% endif %}
		</h2>
		<table class="table table-hover table-striped">
			<tr>
				<th>Name</th>
				<th>Last update</th>
				<th>Size</th>
				<th>Sharing</th>
				<th></th>
			</tr>
			{% for folder in listFolders %}
				<tr data-row="folder" data-folder-id="{{ folder.id }}">
					<td>
						{{ fa('folder') }}
						<a href="{{ path('ag_vault_folder_show', { id:folder.id, slug:folder.slug }) }}" data-name>{{ folder.name }}</a>
					</td>
					<td>{{ folder.lastModified|date_fr }}</td>
					<td>{{ folder.size|size }}</td>
					<td></td>
					<td>{{ macros.folder_dropdown(folder) }}</td>
				</tr>
			{% endfor %}
			{% for file in listFiles %}
				<tr data-row="file" data-file-id="{{ file.id }}">
					<td>
						{{ fa(icon_guesser(file.mimeType)) }}
						<a class="file" href="{{ path('ag_vault_file_preview', { id:file.id }) }}" data-name data-mime="{{ file.mimeType }}">{{ file.name }}</a>
					</td>
					<td>{{ file.lastModified|date_fr }}</td>
					<td>{{ file.size|size }}</td>
					<td>
						{% if file.authorizedUsers|length > 0 or file.shareLinks|length > 0 %}
							{% if file.authorizedUsers|length > 0 %}Partagé ({{ file.authorizedUsers|length }}){% endif %}{% if file.shareLinks|length %}{% if file.authorizedUsers|length > 0 and file.shareLinks|length > 0 %}, {% endif %}Links ({{ file.shareLinks|length }}){% endif %}
						{% else %}
							Not shared
						{% endif %}
					</td>
					<td>{{ macros.file_dropdown(file) }}</td>
				</tr>
			{% else %}
				{% if search is defined and search is not null and listFolders is empty %}
					<tr>
						<td class="text-center" colspan="5">
							No result for <em>{{ search }}</em>.
						</td>
					</tr>
				{% else %}
					{% if listFolders is empty %}
						<tr>
							<td class="text-center" colspan="5">
								No content in {% if currentFolder is not null %}this folder.{% else %}your Hesdibi.{% endif %}
							</td>
						</tr>
					{% endif %}
				{% endif %}
			{% endfor %}
		</table>
	</div>
</div>