{% extends 'AGVaultBundle::layout.html.twig' %}

{% import '@AGVault/macros.html.twig' as macros %}

{% block breadcrumbs %}
	{{ parent() }}
	<li class="active">Tous mes dossiers</li>
{% endblock %}


{% block ag_vault_content %}
	{# Modal box for renaming folders #}
	<div class="modal fade" id="renameModal" tabindex="-1" role="dialog" aria-labelledby="renameModal">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4>{{ fa('edit') }} Renommer dossier/fichier</h4>
				</div>
				<div class="modal-body">
					<div class="container-fluid">
						<form action="" method="post">
							<div class="form-group">
								<label class="control-label required" for="newName">Nom</label>
								<input class="form-control" id="newName" type="text" required="required"/>
							</div>
							<div class="form-group">
								<button class="btn btn-primary" type="submit">
									Renommer
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	{# End modal #}

	<div class="row">
		<div class="col-sm-1 text-center hidden-xs" style="padding-top: 22px;">
			<a href="{{ path('ag_vault_homepage') }}">
				{{ fa('reply fa-2x') }}
			</a>
		</div>
		<div class="col-sm-11">
			<h2>{{ fa('folder') }} Tous mes dossiers</h2>
		</div>
	</div>
	<div class="row" id="vault">
		<div class="col-md-12">
			<table class="table table-hover table-striped">
				<tr>
					<th>Nom</th>
					<th>Parent</th>
					<th>Dernière modification</th>
					<th>Taille</th>
					<th></th>
				</tr>
				{% for folder in listFolders %}
					{{ macros.folder_list_row(folder) }}
				{% else %}
					<tr>
						<td class="text-center" colspan="4">Aucun dossier crée pour l'instant.</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/folder.js') }}"></script>
{% endblock %}