{% extends 'AGVaultBundle::layout.html.twig' %}

{% block breadcrumbs %}
	{{ parent() }}
	<li class="active">Tous mes dossiers</li>
{% endblock %}

{% block ag_vault_content %}

	{# Modal box for renaming folders #}
	<div class="modal fade" id="renameModal" tabindex="-1" role="dialog" aria-labelledby="renameModal">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4>{{ fa('edit') }} Renommer dossier/fichier</h4>
				</div>
				<div class="modal-body">
					<div class="container-fluid">
						<form action="" method="post">
							<div class="form-group">
								<label class="control-label required" for="newName">Nom</label>
								<input class="form-control" id="newName" type="text" required="required"/>
							</div>
							<div class="form-group">
								<button class="btn btn-primary" type="submit">
									Renommer
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	{# End modal #}

	<div class="row" id="vault">
		<div class="col-md-12">
			<h2>{{ fa('folder') }} Tous mes dossiers</h2>
			<hr/>
			<table class="table table-hover table-striped">
				<tr>
					<th>Nom</th>
					<th>Parent</th>
					<th>Dernière modification</th>
					<th>Taille</th>
					<th></th>
				</tr>
				{% for folder in listFolders %}
					<tr data-row="folder" data-folder-id="{{ folder.id }}">
						<td>
							{{ fa('folder') }}
							<a href="{{ path('ag_vault_folder_show', { id:folder.id, slug:folder.slug }) }}" data-name>{{ folder.name }}</a>
						</td>
						<td>{{ folder.parent is not null ? folder.parent.name : 'Mon Vault' }}</td>
						<td>{{ folder.lastModified|date_fr }}</td>
						<td>{{ folder.size|size }}</td>
						<td>
							<div class="btn-group dropdown actions pull-right">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li>
										<a href="{{ path('ag_vault_folder_move', {id:folder.id}) }}">
											{{ fa('location-arrow') }} Modifier emplacement
										</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="#" type="button" data-toggle="modal" data-target="#renameModal" data-id="{{ folder.id }}" data-href="{{ path('ag_vault_folder_rename', { id:folder.id }) }}">
											{{ fa('edit') }} Renommer
										</a>
									</li>
									<li>
										<a href="{{ path('ag_vault_folder_remove', { id:folder.id }) }}">
											{{ fa('remove') }} Supprimer
										</a>
									</li>
								</ul>
							</div>
						</td>
					</tr>
				{% else %}
					<tr>
						<td class="text-center" colspan="4">Aucun dossier crée pour l'instant.</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/folder.js') }}"></script>
{% endblock %}