{% import '@AGVault/macros.html.twig' as macros %}

{# Button displayed in mobile view #}
<div class="btn-group dropup">
	<button type="button" class="btn btn-primary dropdown-toggle btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ fa('plus') }}</button>
	<ul class="dropdown-menu">
		<li><a href="#" type="button" data-toggle="modal" data-target="#newFolderModal">{{ fa('folder') }}</a></li>
		<li><a href="#" type="button" data-toggle="modal" data-target="#newFileModal">{{ fa('file-pdf-o') }}</a></li>
	</ul>
</div>
{# End button #}

{# Input search on bottom #}
<form action="" method="GET" class="mobile-search">
	<div class="input-group">
		<span class="input-group-addon" id="addon2">{{ fa('search') }}</span>
		<input type="text" class="form-control" placeholder="Recherche" name="s" aria-describedby="addon2" autocomplete="off">
	</div>
</form>
{# End input #}

{# Mobile view #}
<div class="row">
	<div class="col-xs-12 text-center">
		<h2 style="margin: 0;">
			{% if currentFolder is not null %}
				{{ fa('folder-open') }} {{ currentFolder.name }}
			{% else %}
				{{ fa('lock') }} Mon Vault
			{% endif %}
		</h2>
	</div>
</div>
<hr>
<div class="row" id="vault-mobile">
	<div class="col-xs-12 text-center">
		<div class="row">
			{% for folder in listFolders %}
				<div class="col-xs-6 col-sm-4 item folder">
					{{ macros.folder_dropdown(folder, 'inverse-dropdown') }}
					<div class="icon">
						{{ fa('folder') }}
					</div>
					<div class="title">
						<a href="{{ path('ag_vault_folder_show', { id:folder.id, slug:folder.slug }) }}">
							{{ folder.name }}
						</a>
						<span class="size">{{ folder.size|size }}</span>
					</div>
				</div>
			{% endfor %}
			{% for file in listFiles %}
				<div class="col-xs-6 col-sm-4 item file">
					{{ macros.file_dropdown(file, 'inverse-dropdown') }}

					<div class="icon">
						{{ fa('file-pdf-o') }}
					</div>
					<div class="title">
						<a href="{{ path('ag_vault_file_preview', { id:file.id }) }}">
							{{ file.name }}
						</a>
						<span class="size">{{ file.size|size }}</span>
					</div>
				</div>
			{% else %}
				{% if search is defined and search is not null and listFolders is empty %}
					<div class="col-xs-12 text-center">
						<h5 style="margin-top: 20px;">
							Aucun résultat pour la recherche <em>{{ search }}</em>.
						</h5>
					</div>
				{% else %}
					{% if listFolders is empty %}
						<div class="col-xs-12 text-center">
							<h5 style="margin-top: 20px;">
								Aucun contenu dans {% if currentFolder is not null %}ce dossier{% else %}votre Vault{% endif %}.
							</h5>
						</div>
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>