{% extends 'AGVaultBundle::layout.html.twig' %}

{% block breadcrumbs %}
	{{ parent() }}
	{{ render(controller('AGVaultBundle:Folder:getParents', { id:folder.id })) }}
	<li class="active">Supprimer un dossier</li>
{% endblock %}

{% block ag_vault_content %}
	<div class="row">
		<div class="col-md-12 text-center">
			<p>Êtes-vous certain de vouloir supprimer le dossier "{{ folder.name }}" ?</p>
			<p>Ce dossier contient pas moins de {{ folder.children|length }} dossier(s) et {{ folder.files|length }} fichier(s) !</p>
			{% if folder.parent is not null %}
				<a class="btn btn-default" href="{{ path('ag_vault_folder_show', { id:folder.parent.id, slug:folder.parent.slug }) }}">
					{{ fa('arrow-left') }} Retour au dossier parent
				</a>
			{% endif %}
			<a class="btn btn-default" href="{{ path('ag_vault_homepage') }}">
				{{ fa('home') }} Retour à mon Vault
			</a>
			<hr/>
			<form action="" method="POST">
				<label for="delete">
					<input type="radio" id="delete" name="keepordelete" value="delete" checked/> Supprimer également tout le contenu de ce dossier (par défaut).
				</label>
				<br/>
				<label for="keep">
					<input type="radio" id="keep" name="keepordelete" value="keep"/> Garder les fichiers et dossiers (vous pourrez les trouver à la racine).
				</label>
				<br/>
				<button class="btn btn-danger" type="submit" onclick="return confirm('Êtes-vous certain de vouloir supprimer ce dossier ?');">
					{{ fa('trash') }} Supprimer ce dossier
				</button>
				{{ form_rest(form) }}
			</form>
		</div>
	</div>
{% endblock %}