{% extends 'AGVaultBundle::layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<style>
		.popover-content {
			word-break: break-all;
		}
	</style>
{% endblock %}

{% block breadcrumbs %}
	{{ parent() }}
	<li class="active">Sharing links</li>
{% endblock %}

{% block ag_vault_content %}
	<div class="row">
		<div class="col-sm-1 text-center hidden-xs" style="padding-top: 22px;">
			<a href="{{ path('ag_vault_homepage') }}">
				{{ fa('reply fa-2x') }}
			</a>
		</div>
		<div class="col-sm-11">
			<h2 style="margin-bottom: 20px;">{{ fa('share-alt') }} Sharing links</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			{% if listShareLinks|length > 0 %}
				<div class="table-responsive">
					<table class="table table-hover">
						<tr>
							<th>Name</th>
							<th>Folder</th>
							<th></th>
						</tr>
						{% for shareLink in listShareLinks %}
							<tr>
								<td>
									{{ fa(icon_guesser(shareLink.file.mimeType)) }} {{ shareLink.file.name }} - <span class="small"><i>{{ shareLink.createdAt|date_fr }} à {{ shareLink.createdAt|date('H:i') }}</i></span>
								</td>
								<td>
									<a href="{{ path('ag_vault_folder_show', { id:shareLink.file.folder.id, slug:shareLink.file.folder.slug }) }}">
										{{ fa('folder') }} {{ shareLink.file.folder.name }}
									</a>
								</td>
								<td>
									<div class="pull-right">
										<button type="button" class="btn btn-xs btn-success" data-toggle="popover" data-placement="left" data-content="{{ absolute_url(path('ag_vault_file_show', { token:shareLink.token })) }}">{{ fa('eye') }} Get link.</button>
										<a class="btn btn-xs btn-danger" href="{{ path('ag_vault_link_remove', { id:shareLink.id }) }}">{{ fa('trash') }} Remove this link</a>
									</div>
								</td>
							</tr>
						{% else %}
							<tr>
								<td class="text-center" colspan="4">
									No sharing link.
								</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			{% else %}
				<hr>
				<h3 class="text-center">
					No sharing link.
				</h3>
			{% endif %}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
		$(function() {
			$('[data-toggle="popover"]').popover();
		});
	</script>
{% endblock %}