{% extends 'AGVaultBundle::layout.html.twig' %}

{% block ag_vault_content %}
	<div class="row">
		<div class="col-md-12 text-center">
			<h2>{{ fa('trash') }} Supprimer le lien de partage  du fichier <em>{{ file.name }}</em> ?</h2>
			<hr/>
			<form action="" method="POST">
				{% if file.folder is not null %}
					<a class="btn btn-default" href="{{ path('ag_vault_folder_show', { id:file.folder.id }) }}">
						{{ fa('arrow-left') }} Retour à mon dossier
					</a>
				{% else %}
					<a class="btn btn-default" href="{{ path('ag_vault_homepage') }}">
						{{ fa('arrow-left') }} Retour à mon Vault
					</a>
				{% endif %}
				<button class="btn btn-danger" type="submit">
					{{ fa('trash') }} Supprimer ce lien
				</button>
				{{ form_rest(form) }}
			</form>
		</div>
	</div>
{% endblock %}