<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ path('ag_vault_homepage') }}">{{ app.user ? fa('unlock-alt') : fa('lock') }} Hesdibi</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				{% if is_granted('ROLE_ADMIN') %}
					<li>
						<a href="{{ path('ag_vault_folder_index') }}">
							{{ fa('folder-open') }} My Folders
						</a>
					</li>
					<li>
						<a href="{{ path('ag_user_admin_index') }}">
							{{ fa('users') }} User management
						</a>
					</li>
					<li>
						<a href="{{ path('ag_vault_link_all') }}">
							{{ fa('share-alt') }} Share Links
						</a>
					</li>
					<li>
						<a href="{{ path('nelmio_api_doc_index') }}">
							{{ fa('book') }} API Doc
						</a>
					</li>
				{% endif %}
			</ul>
			{% if app.user %}
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ fa('user') }} <i>{{ app.user }}</i> <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{{ path('fos_user_profile_show') }}">{{ fa('user') }} My account</a></li>
							<li><a href="{{ path('fos_user_change_password') }}">{{ fa('lock') }} Change password</a></li>
							<li class="divider"></li>
							<li><a href="{{ path('fos_user_security_logout') }}">{{ fa('sign-out') }} Logout</a></li>
						</ul>
					</li>
				</ul>
			{% endif %}
		</div>
	</div>
</nav>