<nav class="navbar navbar-default">
	<div class="{{ container_type }}">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ path('ag_vault_homepage') }}">{{ fa('home') }} Vault</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				{% if is_granted('ROLE_ADMIN') %}
					<li>
						<a href="{{ path('ag_vault_folder_index') }}">
							{{ fa('folder') }} Mes dossiers
						</a>
					</li>
					<li>
						<a href="{{ path('ag_user_admin_index') }}">
							{{ fa('users') }} Gestion des utilisateurs
						</a>
					</li>
					<li>
						<a href="{{ path('ag_vault_link_all') }}">
							{{ fa('share-alt') }} Liens de partage
						</a>
					</li>
				{% endif %}
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{% if is_granted('ROLE_ADMIN') %}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ fa('user') }} <span class="hidden-sm hidden-xs">Connecté en tant que </span><i>{{ app.user }}</i> <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{{ path('fos_user_profile_show') }}">{{ fa('user') }} Mon compte</a></li>
							<li><a href="{{ path('fos_user_change_password') }}">{{ fa('lock') }} Changer mon mot de passe</a></li>
							<li class="divider"></li>
							<li><a href="{{ path('fos_user_security_logout') }}">{{ fa('times') }} Se deconnecter</a></li>
						</ul>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>