{% extends 'AGUserBundle::layout.html.twig' %}

{% block breadcrumbs %}
    {{ parent() }}
    <li><a href="{{ path('ag_user_admin_index') }}">Gestion des utilisateurs</a></li>
    <li class="active">Modifier</li>
{% endblock %}

{% block ag_user_content %}
    <div class="row">
	    <div class="col-sm-1 text-center hidden-xs" style="padding-top: 22px;">
		    <a href="{{ path('ag_user_admin_index') }}">
			    {{ fa('reply fa-2x') }}
		    </a>
	    </div>
        <div class="col-sm-11">
            <h2>{{ fa('edit') }} Editer l'utilisateur <em>{{ user.username }}</em></h2>
        </div>
    </div>
	<hr/>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            {% include 'AGUserBundle:Admin:form.html.twig' %}
        </div>
    </div>
 {% endblock %}