{% extends 'AGUserBundle::layout.html.twig' %}

{% block breadcrumbs %}
    {{ parent() }}
    <li class="active">Gestion des utilisateurs</li>
{% endblock %}

{% block ag_user_content %}
    <div class="row">
	    <div class="col-md-1 text-center hidden-sm hidden-xs" style="padding-top: 22px;">
		    <a href="{{ path('ag_vault_homepage') }}">
			    {{ fa('reply fa-2x') }}
		    </a>
	    </div>
	    <div class="col-md-11">
		    <h2 style="margin-bottom: 20px;">
			    <i class="fa fa-users"></i> Liste des utilisateurs
			    <a class="btn btn-success pull-right" href="{{ path('ag_user_admin_add') }}">
				    <i class="fa fa-user-plus"></i> Ajouter
			    </a>
		    </h2>
	    </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <tr>
                        <th>#</th>
                        <th>Username</th>
                        <th>E-mail</th>
                        <th>Dernière co.</th>
                        <th>Droits</th>
                        <th class="text-center">Status</th>
                        <th></th>
                    </tr>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                {% if user.lastLogin is not null %}
                                    {{ user.lastLogin|date_fr }} à {{ user.lastLogin|date('H:i') }}
                                {% else %}
                                    Jamais connecté.
                                {% endif %}
                            </td>
                            <td>{% for role in user.roles %}<span class="label label-info">{{ role }}</span> {% endfor %}</td>
                            <td class="text-center">
	                            {% if user.locked %}
		                            <span class="label label-danger">
                                            {{ fa('times') }} Banni
                                        </span>
	                            {% elseif user.enabled %}
		                            <span class="label label-success">
                                        {{ fa('check') }} Activé
                                    </span>
	                            {% else %}
		                            <span class="label label-default">
                                        {{ fa('clock-o') }} En attente
                                    </span>
	                            {% endif %}
                            </td>
                            <td>
	                            {% if not user.hasRole('role_admin') %}
		                            <div class="pull-right">
			                            <a class="btn btn-warning btn-xs" href="{{ path('ag_user_admin_edit', { id: user.id }) }}">
				                            {{ fa('edit') }} Editer
			                            </a>
			                            <a class="btn btn-danger btn-xs" href="{{ path('ag_user_admin_remove', { id: user.id }) }}">
				                            {{ fa('remove') }} Supprimer
			                            </a>
		                            </div>
	                            {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}