{% extends 'AGUserBundle::layout.html.twig' %}

{% block breadcrumbs %}
    {{ parent() }}
    <li><a href="{{ path('ag_user_admin_index') }}">Gestion des utilisateurs</a></li>
    <li class="active">Supprimer</li>
{% endblock %}

{% block ag_user_content %}
    <div class="row">
	    <div class="col-sm-1 text-center hidden-xs" style="padding-top: 22px;">
		    <a href="{{ path('ag_user_admin_index') }}">
			    {{ fa('reply fa-2x') }}
		    </a>
	    </div>
	    <div class="col-sm-11">
		    <h2>{{ fa('trash') }} Supprimer l'utilisateur <i>{{ user.username }}</i></h2>
	    </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        Êtes-vous sûr de vouloir supprimer cet utilisateur ?
                    </p>
                    <form action="" method="POST">
                        <button class="btn btn-danger" type="submit">
                            <i class="fa fa-trash"></i> Oui, supprimer le sa mère
                        </button>
                        {{ form_rest(form) }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}