{% spaceless %}
	<div class="panel panel-info">
		<div class="panel-body">
			<p><strong>Nom</strong> : {{ file.name }}</p>
			<p><strong>Taille</strong> : {{ file.size|size }}</p>
			<p><strong>Propriétaire</strong> : {{ file.owner }}</p>
			<p><strong>Dernière modification</strong> : {{ file.lastModified|date_fr ~ ' ' ~ file.lastModified|date("\à H:i") }}</p>
		</div>

		{# List group #}
		<ul class="list-group">
			{% if file.sendTo is not empty %}
				<li class="list-group-item">
					<h4>{{ fa('envelope') }} Liste d'envoi par mail</h4>
					{% for send in file.sendTo %}
						<p class="small">{{ send.0 ~ ' - ' ~ send.1|date_fr }} à {{ send.1|date('H:i') }}</p>
					{% endfor %}
				</li>
			{% endif %}
			{% if file.shareLinks is not empty %}
				<li class="list-group-item">
					<h4>{{ fa('share-alt') }} Liens de partage</h4>
					<ul>
						{% for shareLink in file.shareLinks %}
							<li class="small">{{ absolute_url(path('ag_vault_file_show', { token:shareLink.token })) }}</li>
						{% endfor %}
					</ul>
				</li>
			{% endif %}
			{% if file.authorizedUsers is not empty %}
				<li class="list-group-item">
					<h4>{{ fa('users') }} Partager avec</h4>
					<ul>
						{% for user in file.authorizedUsers %}
							<li class="small">{{ user }}</li>
						{% endfor %}
					</ul>
				</li>
			{% endif %}
		</ul>
	</div>
{% endspaceless %}