{% spaceless %}
	<h4>{{ listFiles|length }} derniers fichiers</h4>
	{% for file in listFiles %}
		<p class="text-left">
			<a class="pull-right" href="{{ path('ag_vault_folder_show', { id:file.folder.id, slug:file.folder.slug }) }}">
				{{ fa('folder') }}
			</a>
			{{ fa('file-pdf-o') }} {{ file.name }}
		</p>
	{% endfor %}
{% endspaceless %}