{% extends 'AGVaultBundle::layout.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block breadcrumbs %}
	{{ parent() }}
	{% if file.folder is not null %}
		{{ render(controller('AGVaultBundle:Folder:getParents', { id:file.folder.id })) }}
		<li><a href="{{ path('ag_vault_folder_show', { id:file.folder.id, slug:file.folder.slug}) }}">{{ file.folder.name }}</a></li>
	{% endif %}
	<li>{{ file.name }}</li>
	<li class="active">Move file location</li>
{% endblock %}

{% block ag_vault_content %}
	<div class="row">
		<div class="col-sm-1 text-center hidden-xs" style="padding-top: 22px;">
			<a href="{{ file.folder is null ? path('ag_vault_homepage') : path('ag_vault_folder_show', { id:file.folder.id, slug:file.folder.slug }) }}">
				{{ fa('reply fa-2x') }}
			</a>
		</div>
		<div class="col-sm-11">
			<h2>{{ fa('arrows') }} Move file <small>{{ file.name }}</small></h2>
		</div>
	</div>
	<hr/>
	<div class="row" style="margin-bottom: 70px;">
		<div class="col-md-7 center-block nfloat">
			{{ form(form) }}
		</div>
	</div>
{% endblock %}