{% extends 'AGVaultBundle::layout.html.twig' %}

{% block breadcrumbs %}
	{{ parent() }}
	{{ render(controller('AGVaultBundle:Folder:getParents', { id:file.folder.id })) }}
	<li class="active">Supprimer un fichier</li>
{% endblock %}

{% block ag_vault_content %}
	<div class="row">
		<div class="col-md-12 text-center">
			<h3>Êtes-vous sûr de vouloir supprimer le fichier <em>{{ file.name }}</em> {% if file.folder is not null %}du dossier {{ file.folder.name }}{% else %}de votre Vault{% endif %} ?</h3>
			<hr/>
			<form action="" method="POST">
				{% if file.folder is not null %}
					<a class="btn btn-default" href="{{ path('ag_vault_folder_show', { id:file.folder.id }) }}">
						{{ fa('arrow-left') }} Retour à mon dossier.
					</a>
				{% else %}
					<a class="btn btn-default" href="{{ path('ag_vault_homepage') }}">
						{{ fa('arrow-left') }} Retour à mon Vault.
					</a>
				{% endif %}
				<button class="btn btn-danger" type="submit">
					{{ fa('trash') }} Supprimer ce fichier
				</button>
				{{ form_rest(form) }}
			</form>
		</div>
	</div>
{% endblock %}