{% extends 'AGVaultBundle::layout.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block breadcrumbs %}
	{{ parent() }}
	{{ render(controller('AGVaultBundle:Folder:getParents', { id:file.folder.id })) }}
	<li><a href="{{ path('ag_vault_folder_show', { id:file.folder.id, slug:file.folder.slug}) }}">{{ file.folder.name }}</a></li>
	<li class="active">Envoyer un fichier</li>
{% endblock %}

{% block ag_vault_content %}
	<div class="row">
		<div class="col-sm-1 text-center hidden-xs" style="padding-top: 22px;">
			<a href="{{ file.folder is null ? path('ag_vault_homepage') : path('ag_vault_folder_show', { id:file.folder.id, slug:file.folder.slug}) }}">
				{{ fa('reply fa-2x') }}
			</a>
		</div>
		<div class="col-sm-11">
			<h2>{{ fa('paper-plane') }} Envoyer par email</h2>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="col-md-12">
			{{ form_start(form) }}
			{{ form_errors(form) }}
			{{ form_row(form.email) }}
			{{ form_row(form.subject) }}
			<div class="form-group">
				<label class="col-sm-2 control-label">Fichier</label>
				<div class="col-sm-10">
					<p class="form-control-static">{{ file.name }}</p>
				</div>
			</div>
			{{ form_row(form.send) }}
			{{ form_rest(form) }}
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}