Bonjour {{ user.username }},<br><br>
{{ app.user }} vient de te créer un compte sur <strong>My Vault</strong>.<br><br>
Informations de connexion :<br><br>
- Nom d'utilisateur : {{ user.username }}<br>
- Adresse email : {{ user.email }}<br>
- Mot de passe : {{ password }}<br><br>
Tu peux accéder au site en cliquant ici : <a href="{{ login }}">Se connecter</a>.<br>
/!\ Nous te conseillons vivement de changer ton mot de passe en cliquant ici : <a href="{{ changePassword }}">Changer mon mot de passe</a>
<br><br>
A bientôt,<br>
L'administrateur.<br><br>
<i><small>Ce message est à destination de {{ user.email }}. Si ce n'est pas vous, merci d'ignorer son contenu.</small></i><br><br>
<i>/!\ Ce message a été generé automatiquement, veuillez ne pas y répondre.</i>
