{% extends '::base.html.twig' %}

{% block body %}
	<div class="row">
		<div class="col-md-12">
			<h1>Welcome on Hesdibi</h1>
		</div>
	</div>
	<div class="row text-justify">
		<div class="col-md-6">
			<h2>{{ fa('sign-in') }} Log in</h2>
			<hr/>
			{% if error %}
				<div class="alert alert-danger">{{ error|trans({}, 'FOSUserBundle') }}</div>
			{% endif %}
			<form action="{{ path("fos_user_security_check") }}" method="post">
				<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
				<div class="form-group">
					<label for="username">E-mail / {{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
					<input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" autofocus />
				</div>
				<div class="form-group">
					<label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
					<input class="form-control" type="password" id="password" name="_password" required="required" />
				</div>
				<div class="checkbox">
					<label for="remember_me">
						<input type="checkbox" id="remember_me" name="_remember_me" />
						{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
					</label>
				</div>
				<div class="form-group">
					<input class="btn btn-primary pull-right" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
				</div>
			</form>
			<div class="clearfix"></div>
		</div>
		<div class="col-md-6">
			<h2>{{ fa('cloud-upload') }} Store your personal documents</h2>
			<hr>
			<p>Here you can safely upload and manage any of your personal paperless documents (ID, passeport, bank accounts details, etc.)</p>
			<p>You can then access them from anywhere around the world.</p>
			<p>Here are some of the features of Hesdibi :</p>
			<ul>
				<li>Upload files</li>
				<li>Manage files by organizing into folders</li>
				<li>Send files by e-mail</li>
				<li>Generate sharing links to let other people access the file(s) you choose</li>
				<li>Create viewer accounts and share them files</li>
			</ul>
		</div>
	</div>
{% endblock %}